
@font-face {
  font-family: 'LMRomanSlant10';
  src: url('/static/fonts/lmromanslant10-regular-webfont.eot');
  src: url('/static/fonts/lmromanslant10-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/lmromanslant10-regular-webfont.woff') format('woff'),
       url('/static/fonts/lmromanslant10-regular-webfont.ttf') format('truetype'),
       url('/static/fonts/lmromanslant10-regular-webfont.svg#latin_modern_roman_slante10Rg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IntriqueScript';
  src: url('/static/fonts/IntriqueScript_PersonalUse.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
