@mixin tile
	display: flex
	position: relative
	width: 1440px
	min-height: 600px
	@media (max-width: $desktop)
		height: inherit
	max-width: 95%
	@media (min-width: $tablet)
		max-width: 80%
	margin: 30px auto
	overflow: hidden
	z-index: 10
	top: 80vh
	background-color: $transparent
	@media (max-width: 768px)
		margin: 15px auto
	
@mixin wrapper
	display: flex
	height: 100%
	margin: 0
	align-items: center
	border-top: 1px solid rgba(255, 255, 255, 0.2)
	box-shadow: 0 -2px 1px rgba(0, 0, 0, 0.15)
	background-color: $tile-bg

section
	@include tile

	.wrapper
		@include wrapper

	.bloc-link
		min-width: 200px
		border: 1px solid gray
		display: inline-block
		text-align: center
		padding: 10px
		font-size: 12px
		font-family: "Raleway", Helvetica, sans-serif
		text-transform: uppercase
		color: black
		background-color: white
		line-height: 1.5em
		margin: 0 auto
		&:hover
			color: red

section.bloc-img-left
	.wrapper
		@media (max-width: $desktop)
			flex-direction: column
	.bloc-pic
		order: 1
		@media (max-width: $desktop)
			order: 3
	.bloc-text
		order: 2


section.bloc-img-right
	.wrapper
		@media (max-width: $desktop)
			flex-direction: column
	.bloc-pic
		order: 2
	.bloc-text
		order: 1

section
	.bloc-pic
		width: 45%
		padding: 80px
		@media (max-width: $desktop)
			height: 250px
			width: 250px
			border-radius: 250px
			overflow: hidden
			padding: 0px
			margin-bottom: 40px
		img
			width: 100%
			@media (max-width: $desktop)
				min-width: 250px
				min-height: 250px
				height: 100%
				width: auto
				position: relative
				//right: 44%


	.bloc-text
		width: 45%
		padding: 40px 80px 40px 80px
		display: flex
		flex-direction: column
		@media (max-width: $desktop)
			width: 90%
			padding: 20px
		h2
			margin-top: 0px

	.placeholder
		flex: 1 0 50%


section.bloc-left 
	@media (max-width: $desktop)
		flex-direction: column
	.bloc-text
		width: 100%
	.wrapper
		width: 50%
		@media (max-width: $desktop)
			width: 100%
			margin-bottom: 200px
		order: 1
	.placeholder
		order: 2	
		width: 50%

section.bloc-right 
	@media (max-width: $desktop)
		flex-direction: column
	.bloc-text
		width: 100%
	.wrapper
		width: 50%
		@media (max-width: $desktop)
			width: 100%
			margin-top: 200px
		order: 2
	.placeholder
		order: 1


